{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<script defer src="{% static 'js/activity-detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
  {% if activity %}
    <h1><ion-icon name="bicycle-outline"></ion-icon>&nbsp Edit {{ activity.get_activity_type_display  }} in {{activity.city}}</h1>
  {% else %}
    <h1><ion-icon name="bicycle-outline"></ion-icon>&nbsp Add a Activity</h1>
  {% endif %}
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/19e53fe9-9041-46dc-847e-587d5db8aca1/myc419oHCg.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}