{% extends 'base.html' %}

{% block content %}

<h1>About the Fitfolio</h1>
<hr />
<p class="page-content">
Hi there! I am an adventurous software engineer with a love for both the cityscape and the great outdoors. Armed with a pair of trusty walking shoes, I relishes the excitement of exploring new streets and winding trails alike, always seeking out hidden treasures and scenic views. Also, I am currently job seeking for software enginnering positions<br/>

Fitfolio is an app inspired by platforms like Strava and Alltrails, designed to research and track journeys through both urban landscapes and wilderness adventures. Whether navigating city streets or trekking through nature's wonders, Fitfolio aims to capture the joy of exploration and share it with fellow enthusiastic individuals. With its user-friendly interface and collaborative features, Fitfolio encourages users to discover new paths, share experiences, and connect with like-minded adventurers, fostering a community united by a passion for discovery and outdoor exploration.
</p>

{% endblock %}