{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}
 
{% block content %}
<div class="glass">
<div class="box">
<section class="logo-container">
  <div class="word-container">
    <h2>Fitfolio</h2><br>
    <h3 class="typing">Where Every Step Tells a Story. </h3>
  </div>
</section>

{% if not user.is_authenticated %}
<section> 
  <form action="{% url 'home' %}" method="post" class="login">
    <h1> Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}

<img id="staystrong" src="{% static 'images/staystrong.png' %}" alt="stay strong" />


{% comment %} <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/846fc0c9-9c15-4dea-90f6-1e982b95a3c9/1EDL2sV51U.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> {% endcomment %}
</div>
</div>
{% endblock %}