{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}
 
{% block content %}
<div class="glass">
<div class="box">
<section class="logo-container">
  {% comment %} <div class="activity-container">
    <img src="{% static 'images/workoutbear.png' %}" alt="The bear that works out" />
  </div>
  <img 
    src="{% static 'images/logotype.svg' %}" 
    alt="Text reads: Cat Collector"
  /> {% endcomment %}
</section>

{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h2> Login</h2>
    <img src="{% static 'images/workoutbear.png' %}" alt="The bear that works out" />
    <h3>Welcome back Champion! </h3>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}
</div>
</div>
{% endblock %}