{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/activities/activity-detail.css' %}"
/>
<script defer src="{% static 'js/activity-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="activity-container">
  <div class="activity-img">
    {% if activity.photo.url %}
    <img 
      src="{{activity.photo.url}}" 
      alt="A photo of {{activity.city|title}}"
      class="usr-img"
    >
  {% else %}
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

  <dotlottie-player src="https://lottie.host/846fc0c9-9c15-4dea-90f6-1e982b95a3c9/1EDL2sV51U.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
  {% endif %}
  </div>
  <div class="activity-details">
    <h1>A {{ activity.get_activity_type_display  }} in {{activity.city|title}}for {{activity.duration}}hr</h1>
    <h2>You burned {{activity.calorie_burnt}}cal for {{activity.distance}}miles</h2>
    {% if activity.max_heart_rate > 120  %}
      <h2>Great job.You burn fat and carbonhydrates ub this zone. The goal is to spend 25-35 min here</h2>
    {% else %}
      <h2>This warm up session helps your body increase fat release and prepares for higher intensities.</h2>
    {% endif %}
    <p>{{ activity.description }}</p>
    <div class="activity-actions">
      <a href="{% url 'activity-update' activity.id %}" class="btn warn">Edit</a>
      <a href="{% url 'activity-delete' activity.id %}" class="btn danger">Delete</a>
    </div>
    <h3>Change {{activity.city|title}} City {{ activity.get_activity_type_display  }} Photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add-photo' activity.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>

{% endblock %}