{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/activities/activity-detail.css' %}"
/>
<script defer src="{% static 'js/activity-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="activity-container">
  <div class="activity-img">
    {% if activity.photo.url %}
    <img 
      src="{{activity.photo.url}}" 
      alt="A photo of {{activity.city|title}}"
      class="usr-img"
    >
  {% else %}
      <img 
      id="default-photo-detail"
      class="usr-img"
      src="{% static 'images/running.png' %}" 
      alt="A walk along ocean"    
      >
  {% endif %}
  </div>
  <div class="activity-details">
    <h2>A {{ activity.get_activity_type_display  }} in {{activity.city|title}} </h2>
    <p>🌟 You have burned <span class="purple-detail">{{activity.calorie_burnt}}</span> cal for <span class="purple-detail">{{activity.distance}}</span> miles in <span class="purple-detail">{{activity.duration}}</span> hr🌟</p>

    <div class="health-box">
    {% if activity.max_heart_rate > 120  %}
      <p class="health-info">Great job.You burn fat and carbonhydrates in this zone. </p>
    {% else %}
      <p class="health-info">This warm up session prepares your body for an increased rate of  fat burn and prepares for higher intensities.</p>
    {% endif %}
    </div>
    
    <p>Description:&nbsp{{ activity.description }}</p><br>
    <div class="activity-actions">
      <a href="{% url 'activity-update' activity.id %}" class="btn warn">Edit</a>
      <a href="{% url 'activity-delete' activity.id %}" class="btn danger">Delete</a>
    </div><br>
    <h3>Change {{activity.city|title}} City {{ activity.get_activity_type_display  }} Photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add-photo' activity.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>

</section>

{% endblock %}